{% extends 'layout.html' %}
{% block content %}
<table class="table table-bordered">
    <thead>
      <tr>
        <td scope="col">Localização: {{location.name}}</td>
        <td scope="col">Tipo: {{location.type}}</td>
        <td scope="col">Dimensão:{{location.dimension}}</td>
      </tr>
    </thead>
</table>
<div class="container">

    <h1 class="text-center"><p>Residentes:</p></h1>
    <ul class="list-unstyled text-center">
        <li class="mb-1"><p>{% for character in characters %}
            <div class="text-center">
            <a href="{{character.url}}">{{character.name}}</p></li>
    </ul>

{% endfor %}
</div>
{% endblock %}